.Theme {
	height: 100vh;
	background-image: url('../../assets/3-bg.jpg');
	padding: 0 5rem;
	@media only screen and (max-width: 768px) {
		padding: 0 1rem;
	}
	.ThemeRow {
		bottom: 0 !important;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		.textMore {
			text-align: left;
			color: black;
			font-weight: 600;
			font-size: 1.5rem;
            @media only screen and (max-width: 768px) {
                font-size:1rem;
            }
            @media only  screen and (min-width:769px) and (max-width:1025px){
                font-size:1rem;
            }
        }
		.text {
		}
		.heading {
			@media only screen and (max-width: 768px) {
				font-size: 3rem !important;
			}
		}
		.Themeimg {
			text-align: center;
			width: 90vh;
			@media only screen and (max-width: 768px) {
                width: cover;
                // overflow-x: hidden;
                width:100% !important;
                padding-bottom:10px;
			}
			@media only screen and (min-width: 769px) and (max-width: 1025px) {
				width: 100% !important;
			}
		}
	}
}

.heading {
	font-weight: 700 !important;
	font-style: italic;
	font-size: 4rem;
	text-transform: uppercase;
	outline: none;
	text-decoration: none;
	position: relative;
	// font-size: 8em;
	line-height: 1;
	// color:
	//#9e9ba4;
	cursor: pointer;
	display: inline-block;
}
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900 !important;
	overflow: hidden;
	line-height: 0.75;
	color: black;
}

.link--kukuri:hover {
	color: black;
	// transform: rotate3d(20);
	// transform: translate3d(-100%, 0, 0);
	// transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #f9f9f9;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.link--kukuri:hover::after {
	transform: translate3d(100%, 0, 0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}

.textMore {
	font-weight: 400;
	font-size: 1.5rem;
	margin: 2rem 0;
	margin-right: 2rem;
}

// .onPhone {
// 	@media only screen and (min-width: 767px) {
// 		visibility: hidden;
// 		display: none;
// 	}
// }
// .onPc {
// 	@media only screen and (max-width: 768px) {
// 		visibility: hidden;
// 		display: none;
// 	}
// }
.ThemeImage {
	text-align: center;
}
